<!--The content below is only a placeholder and can be replaced.-->
<div mat-card>
    <h2 mat-card-title>Welcome to the {{ title }}!</h2>
  <div mat-card-content>
To use this, type the number shown on the right and press next. 
If the truck unlocks, press the save code button.
If the keypad flashes (the lockout happened), wait for the flashing to stop or reset using your ignition.
The first code may not be the factory code, so do all of the numbers to get both codes.
Follow your manual for resetting the personal code.
</div>

<h2>Type this number on the keypad: {{currentNumber[4]}}</h2>


  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile>{{ currentNumber[0] }}</mat-grid-tile>
    <mat-grid-tile>{{ currentNumber[1] }}</mat-grid-tile>
    <mat-grid-tile>{{ currentNumber[2] }}</mat-grid-tile>
    <mat-grid-tile>{{ currentNumber[3] }}</mat-grid-tile>
    <mat-grid-tile matRipple style="font-weight: bold; color: blue; font-size: 2em;" #ripple>{{ currentNumber[4] }}</mat-grid-tile>
  </mat-grid-list>

</div>

  <button (click)="onStartOver()" mat-raised-button>Start Over</button>
  <button (click)="onMatched()" mat-raised-button>Got a Match</button>
  <button (click)="onNextNumber()" mat-raised-button>Next</button>


<mat-list>
 <mat-list-item *ngFor="let match of matches"> {{match}} </mat-list-item>
</mat-list>
  <button (click)="onClearMatches()" mat-raised-button>Clear Matches</button>
