<!--The content below is only a placeholder and can be replaced.-->
<div mat-card>
    <h2 mat-card-title>Welcome to the {{ title }}!</h2>
  <div mat-card-content>
  The purpose of this is to help owners of Ford vehicles to retreive their lost keyless entry codes. To use this, enter the number shown on the right on the keypad of the vehicle. 
If the truck unlocks, press the save code button. Note that there may be multiple codes. Only one is a master code which is required to set/unset the personal codes.
If the keypad flashes, then a lockout has occured. This is to slow down burglars. Wait for the flashing to stop or reset by turning your ignition on and off.
Remember to continue to do all of the numbers until you get the master code.
Follow your manual for resetting the personal code.
</div>


<h2>Type this number on the keypad: {{currentNumber[4]}}</h2>
  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile>{{ currentNumber[0] }}</mat-grid-tile>
    <mat-grid-tile>{{ currentNumber[1] }}</mat-grid-tile>
    <mat-grid-tile>{{ currentNumber[2] }}</mat-grid-tile>
    <mat-grid-tile>{{ currentNumber[3] }}</mat-grid-tile>
    <mat-grid-tile matRipple style="font-weight: bold; color: blue; font-size: 2em;" #ripple>{{ currentNumber[4] }}</mat-grid-tile>
  </mat-grid-list>
  <div>These are the last 5 you have entered. If you get confused, you can reenter them, and then continue with the <em>next</em>.</div>

</div>

  <button (click)="onMatched()" mat-raised-button>Got a Match</button>
  <button (click)="onLockout()" mat-raised-button>Got Locked Out</button>
  <button (click)="onNextNumber()" mat-raised-button>Next</button>


<mat-list>
 <mat-list-item *ngFor="let match of matches"> {{match.numbers}} {{match.matchType}} </mat-list-item>
</mat-list>
  <button (click)="onClearMatches()" mat-raised-button>Clear Matches</button>

  <button (click)="onStartOver()" mat-raised-button>Start Over</button>
